.filter_box,
.search_bar {
  border: #6d28d9 solid 1px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 15px 0;
  width: 100%;
}

.filter_box {
  background-color: #fff;
  padding: 5px 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter_box_section {
  width: 33%;
}

@media screen and (max-width: 768px) {
  .filter_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filter_box_section {
    width: 100%;
    margin: 5px 0;
  }
}
