.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_bar input {
  font-size: inherit;
  font-family: inherit;
  min-height: 40px;
  width: 65%;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: #ddd solid 1px;
  margin: 0px 5px;
  color: rgb(118, 59, 177);
}

.search_bar input:focus {
  border: #2684ff solid 1px;
}

.search_bar span {
  white-space: nowrap;
}
