.product {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(158, 152, 152);
  border-radius: 3px;
  padding: 10px;
  outline: none;
  overflow-x: hidden;
}

.product_image {
  max-width: 100%;
  max-height: 150px;
}

.product_title {
  margin: 10px 0;
  width: 100%;
  align-self: flex-start;
  white-space: nowrap;
  text-align: center;
  font-weight: 600;
}

.product button {
  background-color: rgb(146, 42, 243);
  border-radius: 5px;
  border: none;
  padding: 1vh;
  outline: none;
  color: #fff;
  padding: 5px 5px;
  margin-left: 3px;
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
}
